@import '../baseline/colors.scss';
@import '../baseline/fonts.scss';
@import '../baseline/typography.scss';
@import '../baseline/elevations.scss';

.sideModalHeader {
  @include MixinFontFamily;
  width: 100%;

  .first_row {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
      // flex-shrink: 0;
      &:first-child {
        width: 100%;
      }
    }

    .close_icon_container {
      display: flex;
      align-items: center;
      img {
        cursor: pointer;
      }
    }

    .fTitle {
      @include MixinH4;
      color: $black;
      margin: 0;
    }

    .fCancelFiltersText {
      @include MixinLink;
      margin: 0 8px;
      display: block;
      color: $red-100;
      cursor: pointer;
      white-space: nowrap;
    }
  }

  .second_row {
    margin-top: 12px;
    display: flex;
    align-items: center;
    div {
      display: flex;
      align-items: center;
      &:first-child {
        margin-right: 12px;
      }
    }
    .tTitle {
      @include MixinH4;
      color: $black;
      margin: 0;
    }
  }

  .third_row {
    .tSubtitle {
      @include MixinParagraphRegular;
      color: $gray-500;
      margin: 8px 0 0 0;
    }

    .tOptionalLink {
      @include MixinLink;
      color: $green-200;
      margin-top: 12px;
      display: inline-block;
    }
  }
}
