@import '../baseline/colors.scss';
@import '../baseline/typography.scss';
@import '../baseline/fonts.scss';
@import '../baseline/elevations.scss';

.languagePicker {
  margin-bottom: 8px;

  .languagePicker__trigger {
    display: flex;
    justify-content: flex-end;
  }

  .languagePicker__menu {
    @include Elevation3;
    border: 1px solid $gray-300;
    margin-top: 8px;
    padding: 8px 0;
    background-color: $white;
    cursor: pointer;

    .languagePicker__menu__element {
      @include MixinParagraphRegular;
      @include MixinFontFamily;
      height: 32px;
      display: flex;
      align-items: center;
      padding-left: 8px;
      padding-right: 16px;
    }
  }

  img {
    margin-right: 8px;
    height: 12px;
  }
}
