/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

$green-300: #067322;
$green-200: #97be0e;
$green-100: #dbecae;
$green-50: #f6faec;

$gray-100: #fafafa;
$gray-200: #f0f1f1;
$gray-300: #e2e2e2;
$gray-400: #cccccc;
$gray-500: #88898b;
$gray-600: #6f6f6f;

$orange-100: #de7000;
$orange-50: #fde1c9;

$blue-100: #4285f4;
$blue-50: #d6e6fe;

$pink-100: #ef80ff;
$pink-50: #ffe4ff;

$red-100: #e6040e;
$red-50: #ffcacd;

$yellow-100: #f5d300;
$yellow-50: #fff19a;

$black: #333333;
$white: #ffffff;
