@import "./shared_components/baseline/colors.scss";
@import "./shared_components/baseline/typography.scss";

.caption {
  @include MixinCaption;
  &.uppercase {
    text-transform: uppercase;
  }
  &.bold {
    font-weight: 700;
  }
  &.block {
    display: block;
  }
}

.parking {
  font-family: var(--w-c-font-family, Suedtirol, KievitWebPro, sans-serif);
  position: relative;
  overflow: hidden;
  @media only screen and (min-width: 992px) {
    width: var(--width);
    height: var(--height);
  }
}

#map {
  z-index: 1;
  @media only screen and (min-width: 992px) {
    width: var(--width);
    height: var(--height);
  }
}

.mobile {
  &.MODE__mobile__open {
    #map {
      width: 100vw;
      height: calc(100vh - 80px);
    }
  }
  &.MODE__mobile__closed {
    #map {
      width: 100vw;
      height: 300px;
    }
    .MODE__mobile__closed__overlay {
      background: rgba(255, 255, 255, 0.64);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.parking__sideBar {
  position: absolute;
  top: 16px;
  left: 16px;
  max-height: calc(100% - 32px);
  z-index: 3;
  overflow: hidden;
  width: calc(100% - 32px);
  @media only screen and (min-width: 768px) {
    width: 350px;
  }

  .parking__sideBar__tabBar {
    background-color: white;
  }
  .parking__sideBar__searchBar {
    background-color: white;
    .searchBox {
      .searchBox__resoult_list {
        max-height: calc(var(--height) - 32px - 86px);
        overflow-y: auto;
        ul {
          list-style: none;
          padding-left: 8px;
          margin: 16px 0 0 0;
          li {
            @include MixinParagraphRegular;
            line-height: 18px;
            display: flex;
            align-items: center;
            margin: 8px 0;
            cursor: pointer;
            img {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }

  .parking__sideBar__details,
  .parking__sideBar__filters {
    height: calc(var(--height) - 86px);
    background-color: $white;
    overflow-y: auto;
    .header {
      padding: 8px 16px;
    }
    .caption {
      @include MixinCaption;
      color: $gray-600;
      margin: 16px 16px 0 16px;
    }
    .options_container {
      margin: 8px 16px 0 16px;
    }
    .forecast_graph__container {
      margin-top: 16px;
      margin-left: 16px;
    }
  }
}

.isSmallWidth {
  .parking__sideBar {
    width: calc(80% - 32px);
  }
}

.parking__language_picker {
  display: inline;
  position: absolute;
  right: 16px;
  z-index: 2;
  top: 80px;

  &.big_margin {
    top: 114px;
  }
  @media only screen and (min-width: 768px) {
    top: 16px;
  }
}

.map_controls {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 3;
}

.tab__video {
  width: var(--width);
  height: var(--height);
}

.globalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray-500;
  opacity: 0.6;
  z-index: 4;
}

// Globals
.mt-4px {
  margin-top: 4px;
}
.mt-8px {
  margin-top: 8px;
}
.mt-16px {
  margin-top: 16px;
}

// Leaflet clustering
.leaflet-div-icon {
  border: 4px solid whitesmoke;
  border-radius: 90%;
  background-color: $blue-100;
  color: $white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-div-icon {
  position: relative;
  padding: 0;
  margin: 0;
  width: 36px;
  height: 36px
}

.custom-div-icon-dot {
  position: absolute;
  top: 1px;
  left: 22px;
  width: 6px;
  height: 6px;
  background-color: $blue-100;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
}

.legend {
  position: relative;
  width: 300px;
  height: 30px;
  margin: 0 0 0 17px;
  span {
    padding-left: 15px;
    font-size: 12px;
  }
}
